body{
    margin: 0px;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas:
    "hd hd hd"
    "mn mn mn"
    "ft ft ft";
}
@font-face {
    font-family:hello;
    src: url(../misc/RusticRoadway.otf) format("opentype");
}
header{
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: rgb(41, 34, 28);
}
h1{
    font-family:"hello";
    color: antiquewhite;
}
#main{
    grid-area: mn;
    background-color: rgb(31, 26, 25);
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
footer{
    grid-area: ft;
    background-color: rgb(10, 9, 8);
}
footer li a{
    text-decoration: none;
    color: rgb(83, 81, 78);
}




/*      For index.html        
                        Fixa #ordered till sidan och reveal med JS
                        Ta bort andra maträtter, använd för att sortera pizzor
                        
*/
#ordered{
    background-color: salmon;
    height: 91vh;
    width: 100vw;
    position: absolute;
    bottom:-10vh;
    right: 100vw;
    transition: 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}
#divider{
    background-color: orangered;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.menu-sort{
    height:100%;
    width: 7%;
    background-color: aqua;
    border-radius: 4px;
    margin-right: 1em;
}
.broad{
    display: flex;
    flex-direction:row;
}
.tall{
    display: flex;
    flex-direction: column;
}
#pizza{
    background-color: darkorange;
}
#kebab{
    background-color: brown;
}
#salad{
    background-color: greenyellow;
}
#hamburgare{
    background-color: royalblue;
}
#lasagne{
    background-color:darkmagenta;
}
#toggle_button{
    color: aqua;
    background-color: black;
}
#menu{
    background-color: brown;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.menu-item{
    height:40% ;
    width:20%;
    background-color: aliceblue;
    margin: 4% 0 0 4%;
    border-radius: 1em;
}

/*      for order.html        */

/*      for aboutUs.html      */
.text_component{
    margin:0 2em 0 2em;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}
.media_component{
    justify-self: center;
}

/*      for apply.html        */