body{
    margin: 0px;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas:
    "hd hd hd"
    "mn mn mn"
    "ft ft ft";
    grid-template-rows:8vh 82vh 10vh;
}
@font-face {
    font-family:hello;
    src: url(../misc/RusticRoadway.otf) format("opentype");
}
header{
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
h1{
    font-family:"hello";
}
#main{
    grid-area: mn;
    background-color: coral;
    display: flex;
    flex-direction: column;
}
footer{
    grid-area: ft;
    background-color: skyblue;
}




/*      For index.html        
                        Fixa #ordered till sidan och reveal med JS
                        Ta bort andra maträtter, använd för att sortera pizzor
                        
*/
#ordered{
    background-color: salmon;
    height: 40%;
    width: 100%;
}
#divider{
    background-color: orangered;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.menu-sort{
    height:100%;
    width: 7%;
    background-color: aqua;
    border-radius: 4px;
    margin-right: 1em;
}
#pizza{
    background-color: darkorange;
}
#kebab{
    background-color: brown;
}
#salad{
    background-color: greenyellow;
}
#hamburgare{
    background-color: royalblue;
}
#lasagne{
    background-color:darkmagenta;
}
#menu{
    background-color: brown;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.menu-item{
    height:40% ;
    width:30%;
    background-color: aliceblue;
    margin: 2% 0 0 2%;
    border-radius: 1em;
}

/*      for order.html        */

/*      for aboutUs.html      */

/*      for apply.html        */